<nav class="navbar">
    <div class="logo">
        <a href="/home">
            <img src="/img/nexora-logo.svg" alt="NEXORA Logo" style="height: 60px; width: auto;">
        </a>
    </div>

    <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="dropdown">
            <a href="#" class="category">Solutions</a>
            <ul class="dropdownContent">
                <li><a href="/choose_college">Education</a></li>
                <li><a href="/insurance">Insurance</a></li>
            </ul>
        </li>

        <li><a href="/viewItems">History</a></li>

        <% if (typeof user !== 'undefined' && user) { %>
            <li class="profile-menu dropdown">
                <a href="#" class="dropdown">Profile</a>
                <ul class="dropdownContent">
                    <li><a href="/profile">My Profile</a></li>   
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
        <% } %>
    </ul>

    <div class="menu-toggle">☰</div>
</nav>
