<h1>Manage Uploaded Results</h1>

<% if (files.length === 0) { %>
  <p>No uploaded results found.</p>
<% } else { %>
  <ul>
    <% files.forEach(file => { %>
      <li><%= file.filename %> - Uploaded At: <%= file.uploadedAt.toDateString() %></li>
    <% }) %>
  </ul>
<% } %>
