<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select College</title>
    <link rel="stylesheet" href="css/college.css">
</head>
<body>
    <div class="college">
    </div>
    <div>
        <h2 align = "center">Select University</h2>
        <form action="/std_info" align = "center">
            <h3>Choose University</h3>
            <select name="college_selection" id="" >
                <option align = "center" id="GUNI" value="Ganpat University">Ganpat University</option>
                <option align = "center" id="LJ" value="L J University">L J University</option>
                <option align = "center" id="GMERS" value="GMERS">GMERS Medical College</option>
            </select>
                <button type="submit">NEXT</button>
        </form>
    </div>
    <script src="js/college.js"></script>
</body>
</html>